.logo-container{
    position: relative;
    text-align: center;
    width: 25%;
    left: 35vw;
    
  }
  

  
@media only screen and (max-width: 600px){
  .logo-container{
    width: 50vw;
    left: 25vw;
    margin-top: 2rem;
  }
  
}