@font-face{
  font-family: 'starwars';
  src: url('./StarJedi-DGRW.ttf');
}
.title{
  font-family: 'starwars';
  text-align: center;
  font-size: 3rem;
  color: tan;
  margin-top: 3rem;
}

.download{
  text-align: center;
  color: white;
  margin-top: 5rem;
  
}
.download:hover{
  color: tan;
}
body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
